{% extends 'index.html' %}

{% block title %}

Lista de Postos - {{ block.super }}

{% endblock title %}

{% block body %}

<div class="container">
    <br />
    <h5><b>Lista de Postos</b></h5>
    <div class="row">
        <div class="col-md-12">
            <br />
            <a href="{% url 'posto:add_posto' %}">Cadastro de novo posto médico</a>
            <br />
            <br />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Telefone</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for posto in posto %}
                    <tr>
                        <th scope="row">{{ posto.id }}</th>
                        <td>{{ posto.posto_name }}</td>
                        <td>{{ posto.address }}</td>
                        <td>{{ posto.cell_phone }}</td>
                        <td>
                            <a href="{% url 'posto:edit_posto' posto.id %}" class="btn btn-primary btn-sm">Editar</a>
                        </td>
                        <td>
                            <a href="{% url 'posto:delete_posto' posto.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}