{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="{% static 'css/googleapis.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Estilização do Sites -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <!-- FAZ DESCER A BARRA DO MENU -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Título do site -->
    <title>{% block title %}SuV App{% endblock title %}</title>
</head>

<body>
    <!-- MUDANÇAS FEITAS HOJE 07/06/2021 -->

    <!-- INICIO: Bloco do Bootstrap a ser incluido -->
    <nav class="navbar navbar-expand-lg navbar-fixed-top bg-dark">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SuV_App</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05"
                    aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Menu</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item" href="{% url 'patients:list_patients' %}">Pacientes</a>
                            <a class="dropdown-item" href="{% url 'employees:list_employees' %}">Empregados</a>
                            <a class="dropdown-item" href="{% url 'vaccines:list_vaccines' %}">Vacinas</a>
                            <a class="dropdown-item" href="{% url 'categories:list_categories' %}">Categorias</a>
                            <a class="dropdown-item" href="{% url 'posto:list_postos' %}">Postos</a>
                            <a class="dropdown-item" href="{% url 'vaccinations:list_vaccinations' %}">Vacinacao</a>
                        </div>
                    </li>
                </ul>
                <form action="{% url 'patients:search_patients' %}" method="GET" class="form-inline my-2 my-md-0"
                    style="margin-right: 10px">
                    <input class="form-control" name="query" type="text" placeholder="Sobrenome do paciente"
                        aria-label="Buscar" style="margin-right: 10px">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">{{ user.get_full_name|default:user.username }}</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown05">
                            <a class="dropdown-item"
                                href="{% url 'accounts:user_change_information' user.username %}">Conta</a>
                            <a class="dropdown-item" href="{% url 'accounts:user_change_password' %}">Trocar senha</a>
                            <a class="dropdown-item" href="{% url 'accounts:user_logout' %}">Sair</a>
                        </div>
                    </li>
                </ul>
            </div>
            {% endif %}
    </nav>
    <!-- FIM: Bloco do Bootstrap a ser incluido -->

    <!-- Inicio do bloco de front end página principal do sistema -->
    

    <!-- Fim do bloco de front end página principal do sistema -->

    {% block body %}

    {% endblock body %}

    


    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/select2.min.js' %}"></script>
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
</body>

</html>