{% extends 'index.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Aplicação - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Aplicação de Vacina</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                   <label for="{{ form.patient.id_for_label }}">Paciente</label>
                   {{ form.patient|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.vaccine.id_for_label }}">Vacina</label>
                    {{ form.vaccine|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label for="{{ form.posto.id_for_label }}">Posto de Saúde</label>
                    {{ form.posto|add_class:"form-control" }}
                </div>
                <div class="form-group">
                  <label for="{{ form.employee.id_for_label }}">Funcionário</label>
                  {{ form.employee|add_class:"form-control" }}
                </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}