{% extends 'index.html' %}

{% load widget_tweaks %}

{% block title %}

Lista de Vacinações - {{block.super }}

{% endblock title %}

{% block body %}

<div class="container">
  <br />
  <h5><b>Atualizar Vacinação</b></h5>
  <div class="row">
    <div class="col-md-12">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.vaccine.id_for_label }}">Vacina</label>
          {% render_field form.vaccine|add_class:"form-group"%}
        </div>
        <div class="form-group">
          <label for="{{ form.date_vaccination.id_for_label }}">Data</label>
          {{ form.date_vaccination|add_class:"form-control" }}
        </div>
        <div class="form-group">
          <label for="{{ form.observation.id_for_label }}">Observações</label>
          {{ form.observation|add_class:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>
  </div>
</div>

{% endblock body %}